ion-tabs{
    ion-tab-bar{
        position: absolute;
        bottom: 0;
        width: 100%;
        --background:transparent;
        border-radius:20px 20px 0 0;
        --border:0;
        ion-tab-button{
            --background:var(--ion-color-light);
            --color:var(--ion-color-medium);
            --color-selected:var(--ion-color-dark);
            ion-icon{
                font-size:1.5rem;
            }
        }
    }
    svg{
        width: 78px;
        margin-top: 20px;
        path{
            fill:var(--ion-color-light);
        }
    }
}
    
    ion-fab{
        ion-fab-button{
            --background: #30B1F2 ;

            ion-icon{
                font-size:2rem;

            }
        }
    }


