<ion-header *ngIf="action==1">
  <ion-toolbar color="primary">
    <ion-title class="tittle">ສັ່ງຊື້ສິນຄ້າ</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content  *ngIf="action==1">
 
          <ion-item lines="full">
            <ion-label >ຈຸດຮັບເຄື່ອງ : </ion-label>
          <ion-label style="font-size: larger;" color="primary">{{addressname()}}</ion-label>
          <ion-button (click)="goto_profile()">
            ປ່ຽນຈຸດຮັບເຄື່ອງ
          </ion-button>
          </ion-item>
          
          <ion-button *ngIf="addressname() == '0'" (click)="goto_profile()" expand="block" fill="outline" shape="round">
            + ເລືອກທີ່ຢູ່ຈຸດຮັບເຄື່ອງ
          </ion-button>

          <ion-list class="ion-no-padding" style="background: #3880ff;" *ngFor="let shop of store_in_cart;let j=index">
            <!-- <ion-list class="list_store">
              <div class="box_store">
                <div class="name_store"></div>
              </div>
            </ion-list> -->
            <ion-item lines="none">
              <ion-label style="font-weight: bold;">ສິນຄ້າຈາກຮ້ານ : {{shop.name}}</ion-label>
            </ion-item>
                      <ion-list class="ion-no-padding" *ngFor="let o of order">
                        <ion-row *ngIf="shop.uuid == o.storeUuid">
                          <ion-col size="3"><img id="sss" src="/assets/icon/male.jpg" alt="" ></ion-col>
                          <ion-col size="9">
                            <ion-label>
                              <p>ຊື່ສິນຄ້າ: {{o.name}}</p>
                                <p>ຈໍານວນ: {{o.order_qty}}</p>
                              <p>ລວມລາຄາ: {{o?.total_order_price | number}} ກີບ</p>        
                            </ion-label>         
                          </ion-col>
                        </ion-row>
                      </ion-list> 

                      <!-- transport -->

                      <ion-list class="list_senting">
                        <div class="box_senting" ><div class="name_senting">ເລືອກຂົນສົ່ງສິນຄ້າ</div></div>
                          <ion-slides [options]="slideOpts">
                            <ion-slide *ngFor="let item of list">
                                <ion-card class="list_card">
                                  <div style="display: flex;flex-direction: row;">
                                    <input type="checkbox" style="margin: 25px 10px; accent-color: #3880ff;">
                                      <div style="display: flex;flex-direction: row;" (click)="transport(item.n)">
                                        <img style="margin: 20px 5px;width: 25px;height: 25px;" src="/assets/icon/male.jpg" alt="">
                                        <p class="pay" >{{item.n}}</p>
                                      </div>
                                  </div>
                                  <p style="margin: 0px 5px;font-size: 12px;">{{item.d}}</p>
                                </ion-card>      
                            </ion-slide>
                          </ion-slides>
                      </ion-list>

                      <!-- paymoney -->
                      
                      <ion-list class="list_pays">
                        <div class="box_pays" ><div class="name_pays">ເລືອກສໍາລະເງີນ</div></div>
                          <ion-slides [options]="slideOpt">
                            <ion-slide *ngFor="let item of pays">
                                <ion-card class="list_cardpays">
                                  <div style="display: flex;flex-direction: row;">
                                    <input type="checkbox" style="margin: 25px 10px; accent-color: #3880ff;">
                                      <div style="display: flex;flex-direction: row;" >
                                        <img style="margin: 20px 5px;width: 25px;height: 25px;" src="/assets/icon/mmoney.png" alt="">
                                        <p class="pay" >{{item.n}}</p>
                                      </div>
                                  </div>
                                </ion-card>      
                            </ion-slide>
                          </ion-slides>
                      </ion-list>

                          <ion-list (click)="action = 4">
                            <ion-label class="sending_product">
                              <div>
                                <p class="ps">ການຈັດສົ່ງສິນຄ້າ:</p>
                                <p style="font-size: 14px;">ຮັບເຄື່ອງພາຍໃນ ວັນທີ່: 7-9 ມີຖຸນາ</p>
                              </div>
                                <p class="ps">{{sum_deliverycoststore(shop.uuid) | number}} ກີບ</p>
                              <ion-icon class="" style="padding-top: 10px;" name="chevron-forward-outline"></ion-icon>
                            </ion-label>               
                          </ion-list>

                            <ion-label style="padding-right: 5px;">
                                <p class="font" >ລາຍການທັງໝົດ: {{counts_qtyshop(shop.uuid)}} ລາຍການ</p>
                                <ion-label class="box_detail_price">
                                  <p class="font">ລາຄາລວມສັ່ງຊື້ (ລວມຄ່າສົ່ງ): </p>   
                                  <p class="price_shop">{{sum_pricestore(shop)| number }} ກີບ </p>
                                </ion-label>
                            </ion-label>
          </ion-list>
    
          <div >
            <ion-label class="row">
              <p class="col-left">ລາຍການທັງໝົດ ( {{counts_qtyallshop()}} ): </p>
                <p class="col-right"> {{findSumAll() | number}} ກີບ </p>
            </ion-label>
              <ion-label class="row">
                <p class="col-left">ລາຄາຈັດສົ່ງລວມທັງໝົດ: </p>
                  <p class="col-right">{{sum_deliverycostall() | number}} ກີບ</p>
              </ion-label>
            <ion-label class="row">
              <div class="col-left">ລາຄາລວມທັງໝົດ: </div>
                <div style="color: #3880ff;" class="col-right">{{sum_pricesall() | number}} ກີບ</div>
            </ion-label>
          </div>
  
</ion-content>

<ion-footer class="footers" *ngIf=" action ==1 ">
  <ion-label class="box_label">
    <p class="sum_all">ລາຄາລວມທັງໝົດ: </p>
    <p class="price_all"> {{sum_pricesall() | number}} ກີບ</p>
  </ion-label>
  <ion-button (click)="payAll()">ສັ່ງຊື້
      <!-- <img  src="../../../assets/icon/checkout_30px.png" alt=""> -->
  </ion-button> 
</ion-footer>


                          <!-- action 4 -->
  <ion-header *ngIf="action==4">
  <ion-toolbar style="--background: #3880ff; border-radius: 5px;" >
    <ion-title>ລາຍລະອຽດການສົ່ງສິນຄ້າ</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="action=1">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
  </ion-header>