<ion-header *ngIf="Isaction && action==0" class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button class="back-icon-color"></ion-menu-button>
     </ion-buttons>
     <!-- <ion-title>ຂໍ້ມູນສ່ວນຕົວ
     </ion-title> -->
     <ion-label class="title">ຂໍ້ມູນສ່ວນຕົວ</ion-label>
     <!-- <ion-buttons [routerLink]="['/categories']" slot="primary">
        <ion-button>
           <ion-icon slot="icon-only" name="list"></ion-icon>
        </ion-button>
     </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="Isaction && action==0" class="ion-padding">
  <ion-card>
    <div class="mt-2 text-center">
        <img width="150px" height="150px" src="../../../assets/icon/user.png" />
    </div>
    <ion-item class="b-bottom" lines="none">
      <ion-label class="text-center">
       <ion-text *ngIf="!(address_list[0]?.name)">ຊື່ ແລະ ນາມສະກຸນ : </ion-text> {{address_list[0]?.name}}
        <p><ion-text *ngIf="!(address_list[0]?.location?.email)">ອີເມວ : </ion-text> {{address_list[0]?.location?.email}}</p>
      </ion-label>
    </ion-item>

    <ion-grid fixed>
      <ion-row>
        <ion-col (click)="action=1" class="text-center cell-class" size="6">
          <ion-icon class="icon-l" name="location"></ion-icon>
          <ion-label>
            <p>ແກ້ໄຂທີ່ຢູ່ຮັບສິນຄ້າ</p>
          </ion-label>
        </ion-col>
        <ion-col (click)="Isaction=!Isaction" class="text-center" size="6">
          <ion-icon class="icon-l" name="person-circle-outline"></ion-icon>
          <ion-label>
            <p>ແກ້ໄຂຂໍ້ມູນສ່ວນຕົວ</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-item [routerLink]="['/mywallet']" class="b-top" lines="none">
      
      <ion-label>
        <ion-icon slot="start" name="wallet-outline"></ion-icon>
        ກະເປົາເງິນ LAAB :</ion-label>
      <ion-label slot="end">L4,000,000</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer *ngIf="Isaction && action==0" class="border-0">
  <ion-button (click)="logout()" size="large" class="button-block p-0 m-0" expand="full" color="primary">
     <ion-icon name="lock-closed-outline"></ion-icon>
     ອອກຈາກລະບົບ
  </ion-button>
</ion-footer>

<!-- /=============================================== update profile =================================================\ -->
<ion-header *ngIf="!Isaction && action==0" class="osahan-nav">
  <ion-toolbar>
     <ion-buttons (click)="Isaction=!Isaction" slot="start">
        <ion-button>
          <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
     <ion-label class="title">ແກ້ໄຂຂໍ້ມູນສ່ວນຕົວ</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="!Isaction && action==0">
  <ion-item class="border" lines="none">
    <ion-label position="floating">ຊື່ ແລະ ນາມສະກຸນ</ion-label>
    <ion-input [(ngModel)]="name" type="text"></ion-input>
  </ion-item>
  <ion-item class="border" lines="none">
    <ion-label position="floating">ເບີໂທ</ion-label>
    <ion-input [(ngModel)]="phone" type="text"></ion-input>
  </ion-item>
  <ion-item class="border" lines="none">
    <ion-label position="floating">ອີເມວ</ion-label>
    <ion-input [(ngModel)]="email" type="text"></ion-input>
  </ion-item>
  <ion-item class="border" lines="none">
    <ion-label position="floating">ປ່ຽນລະຫັດ</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-button style="--border-radius: 15px;margin-top:20px;" (click)="update_profile()" size="large" expand="block">
    ແກ້ໄຂ
  </ion-button>
</ion-content>



<!-- ///////////////////////////////  Address //////////////////////////////////////////////// -->


<ion-header translucent="true" *ngIf="action == 1" class="osahan-nav">
  <ion-toolbar>
    <ion-buttons (click)="action=0" slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
   </ion-buttons>
     
     <ion-label class="title">ສະຖານທີ່ຮັບສິນຄ້າ</ion-label>
     <ion-buttons *ngIf="limit()" (click)="go_add()" slot="primary">
        <ion-button>
           <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" *ngIf="action == 1" class="ion-padding" color="light">
  <div *ngFor="let i of address_list;let j=index">
      <ion-card *ngIf="check(i.id)">
      <ion-item lines="none">
        <ion-icon (click)="changeLo(i,j)" [color]="getactive(i)" class="icon" slot="start" name="location"></ion-icon>
            <ion-label>
              <div class="card-title">
              <ion-label>{{i.location?.addressname}}</ion-label>
            </div>
        </ion-label>
        
      </ion-item>
      <ion-card-content>
         <p> ຊື່ຜູ້ຮັບ : {{i.location?.username}}</p>
         <p> ເບີໂທ : {{i.location?.phone}}</p>
         <p> ທີ່ຢູ່ : {{i.village}}, {{i.district}}, {{i.province}}</p>
        </ion-card-content>
        <ion-item lines="none">
          <p class="mb-0 small">
            <a (click)="go_edit(i,j)"  class="text-primary mr-3">
                <ion-icon name="create-outline"></ion-icon>
              ແກ້ໄຂ
            </a>
            <a (click)="remove(i.id,j)" class="text-danger">
              <ion-icon name="trash-outline"></ion-icon>
              ລົບ
            </a>
            </p>
        </ion-item>
    </ion-card>
  </div>
  
</ion-content>


<!-- /////////////////////////////// Add New Address //////////////////////////////////////////////// -->



<ion-header translucent="true" *ngIf="action == 2" class="osahan-nav">
  <ion-toolbar>
    <!-- <ion-item> -->
      <ion-buttons slot="start" (click)="action = 1" >
        <ion-button>
          <ion-icon slot="icon-only"  name="arrow-back-outline"></ion-icon>
        </ion-button>
     </ion-buttons>
      <ion-label class="title">{{title}}</ion-label>
    <!-- </ion-item> -->
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true" *ngIf="action == 2" class="ion-padding" color="light">
  <div class="card">

        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          
          <ion-item>
            <ion-label position="stacked">
               ຊື່ບ່ອນຮັບສິນຄ້າ
               <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input placeholder="ປ້ອນຊື່ບ່ອນຮັບສິນຄ້າ" [(ngModel)]="addressName" type="text"></ion-input>
         </ion-item>

           <ion-item>
              <ion-label position="stacked">
                ຊື່ ແລະ ນາມສະກຸນ ຜູ້ຮັບ
                 <ion-text color="danger">*</ion-text>
              </ion-label>

              <ion-input maxlength="27" placeholder="ປ້ອນຊື່ ແລະ ນາມສະກຸນ ຜູ້ຮັບ" [(ngModel)]="userName" type="text"></ion-input>
           </ion-item>

           <ion-item>
              <ion-label position="stacked">
                ເບີໂທຕິດຕໍ່
                 <ion-text color="danger">*</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="addressphone" placeholder="ປ້ອນເບີໂທຕິດຕໍ່" type="number"></ion-input>
           </ion-item>


           <ion-item>
            <ion-label position="floating"><ion-text color="danger">*</ion-text> ແຂວງ </ion-label>
            <ion-select [(ngModel)]="pr_id" name="province" placeholder="ເລືອກແຂວງ" (ionChange)="loaddistrict()">
              <ion-select-option *ngFor="let i of province_list" [value]="i.pr_id" >{{i.pr_name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="pr_name">
            <ion-label position="floating"><ion-text color="danger">*</ion-text> ເມືອງ </ion-label>
            <ion-select [(ngModel)]="dr_id" name="district" placeholder="ເລືອກເມືອງ" (ionChange)="loadvillage()">
              <ion-select-option *ngFor="let i of findDistricts()" [value]="i.dr_id">{{i.dr_name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item *ngIf="dr_name">
            <ion-label position="floating"><ion-text color="danger">*</ion-text> ບ້ານ </ion-label>
            <ion-select [(ngModel)]="vill_name" name="village" placeholder="ເລືອກບ້ານ">
              <ion-select-option *ngFor="let i of findVillages()" value="{{i.vill_name}}">{{i.vill_name}}</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
       
        <div class="ion-padding">
           <ion-button *ngIf="title == 'ເພີ່ມທີ່ຢູ່'" (click)="new_address()" expand="block"  class="ion-no-margin">ເພີ່ມທີ່ຢູ່</ion-button>
           <ion-button *ngIf="title == 'ແກ້ໄຂທີ່ຢູ່'" (click)="update_address()" expand="block" class="ion-no-margin">ແກ້ໄຂທີ່ຢູ່</ion-button>
        </div>

  </div>
</ion-content>