ion-card{
    display: flex;
    flex-direction: column;
    // width: 100% !important;
    // max-width: 165px;
    width: 165px;
    margin: 0 !important;
   }
   .margin-left{
       margin-left: 15px;
   }