  .header{
      --background: #30B1F2;
  }
  ion-card{
      display: flex;
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
     }
  .margin-left{
      margin-left: 10px;
  }
  .img{
      position: relative;
  }
  .heart{
      background-color: #ffffff;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 100%;
    font-size: 20px;
    color: red;
  }