<ion-header class="header">
  <ion-item class="header">
    <ion-label color="light" align="center">ສິນຄ້າທີ່ຖືກໃຈ</ion-label>
  </ion-item>
</ion-header>

<ion-content >
  <ion-grid fixed>
    <ion-row   class="ion-no-padding">
      <ion-col  *ngFor="let i of test" size="6">
        <ion-card (click)="detail()">
          <div class="img">
            <img width="100%" height="150px" src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/57/319977/1.jpg?5403" alt="">
              <ion-icon class="heart" name="heart"></ion-icon>
          </div>
         <ion-label style="margin-left: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{i.name}}</ion-label>
          
         <ion-card-content class="ion-no-padding">
          <ion-label class="margin-left" >
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
          </ion-label>

            <ion-label align="center" class="margin-left">
              <h1>{{i.price}}</h1>
            </ion-label>
        </ion-card-content>
        </ion-card>
      </ion-col>
      <!-- <ion-col size="6">
        <ion-card>
          <div class="img">
            <img width="100%" height="150px" src="https://ng.jumia.is/unsafe/fit-in/300x300/filters:fill(white)/product/57/319977/1.jpg?5403" alt="">
              <ion-icon class="heart" name="heart"></ion-icon>
          </div>
         <ion-label style="margin-left: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">LabAwesobinfshgdkfjhdskjfhdsfuihdosfhdsofsdfdsfdsfmeel</ion-label>
          
         <ion-card-content class="ion-no-padding">
          <ion-label class="margin-left" >
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
            <ion-icon color="warning" slot="start" name="star"></ion-icon>
          </ion-label>

            <ion-label align="center" class="margin-left">
              <h1>500.000</h1>
            </ion-label>
        </ion-card-content>
        </ion-card>
      </ion-col> -->
    </ion-row>

    <ion-item lines="none">
      <ion-label></ion-label>
    </ion-item>
  </ion-grid>
</ion-content>
