<!-- <ion-header class="header">
  <ion-item class="header">
    <ion-label color="light" align="center">ສິນຄ້າທີ່ຖືກໃຈ</ion-label>
  </ion-item>
</ion-header> -->

<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button class="back-icon-color"></ion-menu-button>
     </ion-buttons>
     <ion-label class="title">ສິນຄ້າທີ່ຖືກໃຈ</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid  fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center" >
      <ion-col  *ngFor="let d of data" size="auto"  >
        <ion-card (click)="detail(d)">
         
          <div class="img">
            <img width="100%" height="150px" [src]="d.pic" alt="">
              <!-- <ion-icon class="heart" name="heart"></ion-icon> -->
              <ion-label class="heart1">20% OFF</ion-label>
          </div>
         <ion-label style="margin-left: 10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{d.name}}</ion-label>
          
         <ion-card-content class="ion-no-padding">
            <ion-label class="margin-left" >
              <ion-icon color="warning" slot="start" name="star"></ion-icon>
              <ion-icon color="warning" slot="start" name="star"></ion-icon>
              <ion-icon color="warning" slot="start" name="star-half"></ion-icon>
              <ion-icon  slot="start" name="star-outline"></ion-icon>
              <ion-icon  slot="start" name="star-outline"></ion-icon>
                (704)
            </ion-label>

                <ion-item  lines="none">
                  <ion-text color="primary">
                    ₭500.000
                  </ion-text>
                  <small style="color: grey;margin-left: 5px;"><s>₭1.000.000</s></small>
                </ion-item>
                 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-item>
      <ion-label></ion-label>
    </ion-item> -->
  </ion-grid>
</ion-content>
