<ion-header class="osahan-nav">
  <ion-toolbar>
     <ion-buttons slot="start">
        <ion-menu-button class="back-icon-color"></ion-menu-button>
     </ion-buttons>
     <ion-label class="title">ຮ້ານຄ້າທັງໝົດ</ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Search Bill"></ion-searchbar>



  <ion-list>

      <ion-item (click)="goto_detail()" class="b-bottom" lines="none">
              <div class="img">
                <img width="80px" height="80px" src="../../assets/icon/store.png">
              </div>
              <ion-label class="title">Manee Store <p>House: 00, Road: 00, City-0000, Country</p>
              <ion-label class="margin-left" >
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
              </ion-label>
              </ion-label>

              <ion-icon color="danger" slot="end" name="heart"></ion-icon>
      </ion-item>
      <ion-item class="b-bottom" lines="none">
              <div class="img">
                <img width="80px" height="80px" src="../../assets/icon/store.png">
              </div>
              <ion-label class="title">Manee Store <p>House: 00, Road: 00, City-0000, Country</p>
              <ion-label class="margin-left" >
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
              </ion-label>
              </ion-label>

              <ion-icon slot="end" name="heart"></ion-icon>
      </ion-item>
      <ion-item class="b-bottom" lines="none">
              <div class="img">
                <img width="80px" height="80px" src="../../assets/icon/store.png">
              </div>
              <ion-label class="title">Manee Store <p>House: 00, Road: 00, City-0000, Country</p>
              <ion-label class="margin-left" >
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star-half"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
              </ion-label>
              </ion-label>

              <ion-icon color="danger" slot="end" name="heart"></ion-icon>
      </ion-item>
      <ion-item class="b-bottom" lines="none">
              <div class="img">
                <img width="80px" height="80px" src="../../assets/icon/store.png">
              </div>
              <ion-label class="title">Manee Store <p>House: 00, Road: 00, City-0000, Country</p>
              <ion-label class="margin-left" >
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
              </ion-label>
              </ion-label>

              <ion-icon slot="end" name="heart"></ion-icon>
      </ion-item>
      <ion-item class="b-bottom" lines="none">
              <div class="img">
                <img width="80px" height="80px" src="../../assets/icon/store.png">
              </div>
              <ion-label class="title">Manee Store <p>House: 00, Road: 00, City-0000, Country</p>
              <ion-label class="margin-left" >
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star"></ion-icon>
                <ion-icon color="warning" slot="start" name="star-half"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
                <ion-icon color="medium" slot="start" name="star"></ion-icon>
              </ion-label>
              </ion-label>

              <ion-icon slot="end" name="heart"></ion-icon>
      </ion-item>
     

     <ion-item class="item-tran" lines="none">
       <ion-label></ion-label>
     </ion-item>

  </ion-list>
</ion-content>
